# Python venv
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
data/*.db

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build
build/
.pio/
